#archives {color: #444;line-height: 1.6; word-wrap: break-word; padding-bottom: 20px;}
#archives h1 {color: #333; font-size: 2rem; font-weight: 400; line-height: 35px;}
#archives h2 {font-size: 1.4rem;}
#archives ul{margin-left: 25px;}
#archives p, #archives h2, #archives ul {margin-top: 15px;}
#archives a {color: #538ED5;}
#archives a:hover {text-decoration: underline;}
#archives #toc {float: right; border: 1px solid #ccc; padding: 10px; max-width: 260px; min-width: 120px; margin: 0 0 15px 20px;}
#archives #toc ul{ list-style: none; margin-left: 0;}
#archives #toc li {color: #538ED5; text-align: center;}
#archives #toc>header{text-align: center; border-bottom: 1px solid #ccc; margin: -6px 0 6px;}
#archives .time {display: inline-block; font-size: 14px; color: #666; margin-left: 6px}
@media screen and (max-width: 640px) {
    #archives #toc {float: none; box-sizing: 100%; max-width: 100%; margin: 0 0 20px;}
}