#series {color: #444; line-height: 1.6; word-wrap: break-word; padding-bottom: 20px;}
#series h1 {color: #333; font-size: 2rem; font-weight: 400; line-height: 35px;}
#series h2 {font-size: 1.4rem;}
#series ul{margin-left: 25px;}
#series p, #series h2, #series ul {margin-top: 15px;}
#series a {color: #538ED5;}
#series a:hover {text-decoration: underline;}
#series #toc {float: right; border: 1px solid #ccc; padding: 10px; max-width: 260px; min-width: 120px; margin: 0 0 15px 20px;}
#series #toc ul{list-style: none; margin-left: 0;}
#series #toc li {color: #538ED5; text-align: center;}
#series #toc>header{text-align: center; border-bottom: 1px solid #ccc; margin: -6px 0 6px;}
#series .time {display: inline-block; font-size: 14px; color: #666; margin-left: 6px}
@media screen and (max-width: 640px) {
    #series #toc {float: none; box-sizing: 100%; max-width: 100%; margin: 0 0 20px;}
}